.introduccionPagina{
background-color: black;
color: #ffffff;
/*top right bottom left*/
padding: 10px 0px 0px 20px ;
}
.pieIntroduccion{
    float: up;
 background-color: black;
color: #ffffff;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 10px;
font-weight: bold;
padding: 50px 0px 0px 0px ;
}
.encabezado{
    padding: 50px 0px 0px 20px;
}