.introduccionPagina{
background-color: black;
color: #ffffff;
/*top right bottom left*/
padding: 10px 0px 0px 20px ;
}
.pieIntroduccion{
    float: up;
 background-color: black;
color: #ffffff;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 10px;
font-weight: bold;
padding: 50px 0px 0px 0px ;
}
.encabezado{
    padding: 50px 10px 50px 20px;
}
.encabezado .table2{
    width: 100%;
}
.tituloAleman{

    padding-left: 10px;
}
.table3{
    width: 100%;
    padding-left: 50%;
    

}
.dobar{
    padding-right: 50%;
padding-left: 10px;
    color: orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
.kroz{
    padding-left: 18%;
    font-size: 38px ;
    font-weight: bold;
}
.imagenFinal img{
    width: 100%;
}