/*Selector de id */
#sub{
color: blue;
font-size: 20px;
}
/*selector de clase*/
.paragraph{
    color: blueviolet;
    font-size: large;
}
/* Selector de etiqueta o selector de elemento */
h1{
    color: red;
    font-size: 15px;
}
h2{
    color: green;
    font-size: 50px;
    }
    
    .secondary-container{
        color: blue;
    }
/* regla de descendencia*/
    .secondary-container .MainText{
        color: aquamarine;
        font-size: large;
    }
    /*selector de atributo*/
input[type="text"]{
    border: 4px solid salmon;
    font-size: 20px;
}
input[type="number"]{
    border: 4px solid skyblue;
    font-size: small;
}
/* selectores de hijos directos*/
ul > li{
border-bottom: 5px dotted #2a06f5;
}
/*selector de hermanos directos*/
.main-sub-text + h3{
    color: blueviolet;
}
/*selector de hermanos no directos*/
.main-other-text ~ h3{
    color: blueviolet;
}