a
    color: rgb(58, 86, 125)
    text-decoration: none
    background-color: transparent

.mainContainer
    padding-top: 70px

.nav
    padding-top: 0.5rem
    padding-right: 1rem
    padding-bottom: 0.5rem
    padding-left: 1rem
    background-color: rgb(255, 255, 255)

.nav-link
    color: rgb(58, 86, 125)

.idiomaLista
    border-left: 1px solid rgb(58, 86, 125)
    margin-left: 1em
    padding-left: 1em

.nav-item.active
    font-weight: 700

.custom-toggler.navbar-toggler-icon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(58, 86, 125)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")

.custom-toggler.navbar-toggler
    border-color: rgb(58, 86, 125)

h1
    color: rgb(7, 50, 86)
    font-weight: 700
h2
    color: rgb(7, 50, 86)
    font-weight: 700
h3
    color: rgb(7, 50, 86)
    font-weight: 700

.rocketMain h2
    font-size: 3em

.textoLema
    color: rgb(175, 195, 211)

.btn
    padding: .35em 1.75em
    border-radius: 30px

.btn-primary
    background-color: rgb(175, 195, 211)
    border-color: rgb(175, 195, 211)

.btn-secondary
    background-color: rgb(7, 50, 86)
    border-color: rgb(7, 50, 86)

.rocketMain img
    max-height: 50vh

.fondoGrisClaro
    background-color: rgba(58,86,125,.1)

.servicios img
    max-height: 80px
    margin-bottom: 1.5em

.btn-third
    background-color: rgb(175, 195, 211)
    border-color: rgb(175, 195, 211)

.negocio
    border-right: 1px solid rgba(58,86,125,.4)
