a
    color: rgb(58, 86, 125)
    text-decoration: none
    background-color: transparent

.mainContainer
    padding-top: 70px

.nav
    padding-top: 0.5rem
    padding-right: 1rem
    padding-bottom: 0.5rem
    padding-left: 1rem
    background-color: rgb(255, 255, 255)

.nav-link
    color: rgb(58, 86, 125)

.idiomaLista
    border-left: 1px solid rgb(58, 86, 125)
    margin-left: 1em
    padding-left: 1em

.nav-item.active
    font-weight: 700

.custom-toggler.navbar-toggler-icon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(58, 86, 125)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")

.custom-toggler.navbar-toggler
    border-color: rgb(58, 86, 125)

h1
    color: rgb(7, 50, 86)
    font-weight: 700
h2
    color: rgb(7, 50, 86)
    font-weight: 700
h3
    color: rgb(7, 50, 86)
    font-weight: 700

.rocketMain h2
    font-size: 3em

.textoLema
    color: rgb(175, 195, 211)

.btn
    padding: .35em 1.75em
    border-radius: 30px

.btn-primary
    color: rgb(255, 255, 255)
    background-color: rgb(58, 86, 125)
    border-color: rgb(58, 86, 125)

.btn-secondary
    background-color: rgb(7, 50, 86)
    border-color: rgb(7, 50, 86)

.rocketMain img
    max-height: 50vh

.fondoGrisClaro
    background-color: rgba(58,86,125,.1)

.servicios img
    max-height: 80px
    margin-bottom: 1.5em

.btn-third
    color: rgb(33, 37, 41)
    background-color: rgb(175, 195, 211)
    border-color: rgb(175, 195, 211)

.negocio
    border-right: 1px solid rgba(58,86,125,.4)
.texto
    position: relative
    padding: 1em 9em
small
    display: block
    width: 100%
    margin-top: 1.5em
    font-size: 80%
    font-weight: 400
.lineaA
    border-top: 1px solid
    border-color: rgb(58, 86, 125)!important
.pie
    background-color: rgb(248, 249, 250)
.contacto, footer ul
    list-style: none
    padding-left: 0
footer h2
    font-size: 1.65em
    margin-bottom: 1em
footer h3
    font-size: 1.3em

.bgPrimary
    background-color: rgb(58, 86, 125)

.portafolio  p
    margin-bottom: 0
    font-size: 2em
    color: #fff
    text-align: center

.portafolio .card
    min-height: 280px
    border-radius: 1em
    overflow: hidden

.portafolio .card-body
    position: relative
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    padding: 3em

.portafolio .carta
    align-items: center

.btn.btn-full
    display: block
    width: 100%
.form-group
    margin-bottom: 1rem
.custom-control
    background-color: #edeeef
    color: #aaa
    border-color: #edeeef
    border-radius: 30px
    resize: none
    position: relative
    display: block
    min-height: 1.45rem
    padding-left: 1.5rem

.btn-third:hover
    background-color: rgb(161, 188, 210)
    border-color: rgb(161, 188, 210)

.btn-light:hover
    background-color: rgb(140, 152, 162)
    border-color: rgb(140, 152, 162)

.content .content-overlay
    background: rgba(240, 237, 237, 0.7)
    position: absolute
    height: 99%
    width: 100%
    left: 0
    top: 0
    bottom: 0
    right: 0
    opacity: 0
    -webkit-transition: all 0.4s ease-in-out 0s
    -moz-transition: all 0.4s ease-in-out 0s
    transition: all 0.4s ease-in-out 0s

.content:hover .content-overlay
    opacity: 1

.content-details
    position: absolute
    text-align: left
    padding-left: 1em
    padding-right: 1em
    width: 100%
    top: 50%
    left: 50%
    opacity: 0
    -webkit-transform: translate(-50%, -50%)
    -moz-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    -webkit-transition: all 0.3s ease-in-out 0s
    -moz-transition: all 0.3s ease-in-out 0s
    transition: all 0.3s ease-in-out 0s

.content:hover .content-details
    top: 50%
    left: 50%
    opacity: 1

.fadeIn-bottom
    top: 80%
